<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean class="com.ci.primitive.xml.Student" name="student1">
		<constructor-arg value="1" type="int" index="0"/>
		<constructor-arg value="gaurav" index="1" />
	</bean>


</beans>