<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- autowire byName and byType -->
	<!-- <bean class="com.autowire.xml.Address" name="address"> <property name="city" 
		value="Nagar" /> <property name="village" value="kolgaon" /> </bean> -->

	<!-- autowire by constructor -->

	<bean class="com.autowire.xml.Address" name="address1">
		<constructor-arg value="nagar" />
		<constructor-arg value="kolgaon" />
	</bean>
	<bean class="com.autowire.xml.Address" name="address2" primary="true">
		<constructor-arg value="nagar 2" />
		<constructor-arg value="kolgaon 2" />
	</bean>
	<bean class="com.autowire.xml.Address" name="address3">
		<constructor-arg value="nagar 3" />
		<constructor-arg value="kolgaon 3" />
	</bean>
	<bean class="com.autowire.xml.Address" name="address4">
		<constructor-arg value="nagar 4" />
		<constructor-arg value="kolgaon 4" />
	</bean>


	<!-- <bean class="com.autowire.xml.Student" name="student" autowire="byName"> 
		<property name="id" value="11"/> <property name="name" value="gaurav"/> </bean> -->

	<!-- autowire byType -->
	<!-- <bean class="com.autowire.xml.Student" name="student" autowire="byType"> 
		<property name="id" value="11" /> <property name="name" value="gaurav" /> 
		</bean> -->

	<!-- autowire by constructor -->
	<bean class="com.autowire.xml.Student" name="student"
		autowire="constructor">
		<constructor-arg value="1" index="0" />
		<constructor-arg value="Gaurav" />
	</bean>



</beans>